//-------------------------------------------------------
//- Modules :: Head
//-------------------------------------------------------

mixin head(data, is_main_page)
  title= data.title
  meta(charset='utf-8')
  meta(name='description', content=data.title)
  meta(name='keywords', content=data.title)
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', type='text/css', href='css/main.css')
