// ======================================================
// Base :: Typography
// ======================================================

.footer__title {
  font-size: $font-size-sm;
  font-weight: $semibold;
  color: $green;
  text-transform: uppercase;
  margin-bottom: 10px;
}
