// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
// Modifier variables of Boostrap 4
// Detail: https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults


$black: #313131;
$blue: #536b88;
$green: #44671b;
$gray: #f5f5f5;
$brown: #926454;
$white: #fff;
$white-darker: #fdfcfa;
$yellow: #fff8b2;
$orange: #d06b17;
$red: #941500;
$pink: #fff8e4;
$silver: #838383;
$silver-light: #777;

// Fonts
$font-family-normal: 'Times New Roman', 'serif';

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;


// Paths
$path-image: '../images';
$path-fonts: '../fonts';
